/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Actor&family=DM+Sans:opsz@9..40&family=DM+Serif+Text&family=Inter&family=Kalam:wght@700&family=Montserrat&family=Nosifer&family=Playfair+Display&family=Poppins&family=Roboto+Slab&family=Sofia+Sans+Condensed&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
